/* You can add global styles to this file, and also import other style files */
.form-group label{
    color: grey;
}

/* .form-group input {
    font-weight: 4;
} */

.form-group input::placeholder {
    color: #c0bdbd;
}

thead th {
    font-weight: 400;
}

table tbody tr:hover {
    background-color: #fffbf2;
    cursor: pointer;
}

.form-group .invalid {
    border-color: red;
    
}